In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
plt.rc('figure', figsize=(15, 8))

In [5]:
dados = pd.read_csv('../data/aluguel_residencial_sem_outliers.csv', sep=";")
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,17.14,Apartamento
3,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
4,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,33.33,Apartamento
5,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
6,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
7,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
8,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
9,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento

In [6]:
area = plt.figure()

In [7]:
g1 = area.add_subplot(2, 2, 1)
g2 = area.add_subplot(2, 2, 1)
g3 = area.add_subplot(2, 2, 1)
g4 = area.add_subplot(2, 2, 1)